groot:
  access_key: 'INSERT_TOKEN_HERE'
  host: 'http://localhost:8000'

merch_pi:
  access_key: 'INSERT_TOKEN_HERE'
  ip_address: 'INSERT_IPADDRESS'

database:	
  user: root
  password: "" 
  hostname: localhost
  name: groot_merch_service